{% extends "base.html" %}
{{ super() }}
{%  block content %}
    <table class="table table-striped">
    <thead>Ingredients List</thead>
    <tbody>
<form action="" method="post">
{{ form.hidden_tag() }}

{% with test = form.example %}
    {% for item in test | batch(6) %}
      <tr>
      {% for field in item %}
      <td> {{ field }}&nbsp{{ field.label(class_='checkbox-inline') }}</td>
          {%  endfor %}
      </tr>
    {% endfor %}
{% endwith %}
</tbody>
<p>{{ form.submit1() }} {{ form.submit2() }}</p>
    </form>

</table>
    <p> Your cupboard contains</p>
    {% if cupboard %}
    {% for item in cupboard %}
        {{ item.ingredients.ing_name }},&nbsp
    {% endfor %}
    {% endif %}
         {% with messages = get_flashed_messages() %}
        {% if messages %}
        <<ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
{% endwith %}
{% endblock %}